@{
    ViewBag.Title = "Add Event";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_EventFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#date').datepicker({
                dateFormat: "dd/mm/yy",
                showStatus: true,
                showWeeks: true,
                currentText: 'Now',
                autoSize: true,
                gotoCurrent: true,
                showAnim: 'blind',
                highlightWeek: true
            });
        });
    </script>
}